<h2>Welcome to the Dashboard</h2>
<form>
    <p>Figure out search box...</p>
    <input type="text" name="search" id="search" placeholder="search...">
    <input type="button" value="Filter">
</form>
<fieldset><legend>Products:</legend>
    <div ng-repeat="product in latestProducts" class="productWrapper">
        <div class="product">
            <img src="{{product.image}}" alt="{{product.name}}">
            <h4 ng-bind="product.name"></h4>
            <h5>{{product.quantity}} left...</h5>
        </div>
    </div>
    <a href="#!/products">Show all products...</a>
</fieldset>
<fieldset><legend>Recent Orders:</legend>
    <ul ng-repeat="order in latestOrders">
        <li>{{order.customer.name}} purchased {{order.quantity}} {{order.product.name}}...(<span class="note">{{order.createdAt}} ago...</span>)</li>
    </ul>
    <a href="#!/orders">Show all orders...</a>
    <p class="note">** Must figure out how to do the from NOW to how long ago...</p>
</fieldset>
<fieldset><legend>New Customers:</legend>
    <ul ng-repeat="customer in latestCustomers">
        <li>{{customer.name}} joined the store (<span class='note'>**{{customer.createdAt}} days ago</span>)</li>
    </ul>
    <p class="note">**Must figure out how to format time from NOW and get how long ago...</p>
    <a href="#!/customers">Show all customers...</a>
</fieldset>
