<h2>Welcome to the Dashboard</h2>
<form>
    <input type="text" name="search" id="search" placeholder="search..." ng-model="search">
</form>
<fieldset><legend>Products:</legend>
    <div ng-repeat="product in latestProducts | filter: search" class="productWrapper">
        <div class="product">
            <img src="{{product.image}}" alt="{{product.name}}">
            <h4 ng-bind="product.name"></h4>
            <h5>{{product.quantity}} left...</h5>
        </div>
    </div>
    <a href="#!/products">Show all products...</a>
</fieldset>
<fieldset><legend>Recent Orders:</legend>
    <ul ng-repeat="order in latestOrders | filter: search">
        <li>{{order.customer.name}} purchased {{order.quantity}} {{order.product.name}}...({{order.fromNow}}...)</li>
    </ul>
    <a href="#!/orders">Show all orders...</a>
</fieldset>
<fieldset><legend>New Customers:</legend>
    <ul ng-repeat="customer in latestCustomers | filter: search">
        <li>{{customer.name}} joined the store ({{customer.fromNow}}...)</li>
    </ul>
    <a href="#!/customers">Show all customers...</a>
</fieldset>
