<fieldset><legend>Add a new order:</legend>
    <p ng-bind="error" class="error"></p>
    <!-- Form -->
    <form ng-submit="create()">
        <label for="customer"> Customer:
            <!-- Customer Name -->
            <select name="customer" id="customer" ng-model="newOrder.customer">
                <option ng-repeat="customer in allCustomers" value="{{customer._id}}">{{customer.name}}</option>
            </select>
        </label>
        <label for="product"> Choose Product:
            <!-- Product -->
            <select name="product" id="product" ng-model="newOrder.product">
                <option ng-repeat="product in allProducts" value="{{product._id}}">{{product.name}}</option>
            </select>
        </label>
        <label for="quantity"> Order Quantity:
            <!-- Order Quantity -->
            <select name="quantity" id="quantity" ng-model="newOrder.quantity">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
                <option value="500">500</option>
            </select>
        </label>
        <!-- Button -->
        <input type="submit" value="Order">
    </form>
</fieldset>
<form>
    <input type="text" name="search" id="search" ng-model="search" placeholder="search...">
</form>
<table>
    <tr>
        <th>Customer Name:</th>
        <th>Product:</th>
        <th>Quantity:</th>
        <th>Date:</th>
    </tr>
    <tr ng-repeat='order in allOrders | filter: search'>
        <td ng-bind="order.customer.name"></td>
        <td ng-bind="order.product.name"></td>
        <td ng-bind="order.quantity"></td>
        <td ng-bind="order.momentDate"></td>
    </tr>
</table>
